*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/xml_web/nbproject/private/
!/xml_web/src/java/main/resources/commons-lang3-3.3.2.jar
!/xml_web/src/java/main/resources/basex-7.3.1.jar
/xml_web/build/
/dist/