<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>ListFilter</filter-name>
        <filter-class>servlet.ListFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TeacherFilter</filter-name>
        <filter-class>servlet.TeacherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <url-pattern>/teacher.jsp</url-pattern>
        <url-pattern>/new/teacher.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SchoolYearFilter</filter-name>
        <filter-class>servlet.SchoolYearFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SchoolYearFilter</filter-name>
        <url-pattern>/schoolyear.jsp</url-pattern>
        <url-pattern>/new/schoolyear.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>servlet.StudentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/student.jsp</url-pattern>
        <url-pattern>/new/student.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ClassFilter</filter-name>
        <filter-class>servlet.ClassFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ClassFilter</filter-name>
        <url-pattern>/class.jsp</url-pattern>
        <url-pattern>/new/class.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ListFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/new/index.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Log4j</servlet-name>
        <servlet-class>log.InitLog4j</servlet-class>
        <init-param>
            <param-name>logPath</param-name>
            <param-value>/WEB-INF/logs/error.log</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/new/*</url-pattern>
            <include-prelude>/include/student/header.jsp</include-prelude>
            <include-coda>/include/student/footer.jsp</include-coda>
        </jsp-property-group>        
    </jsp-config>
</web-app>
