/* 
    Document   : header.css
    Created on : 2012.10.09., 21:05:37
    Author     : Reményi Szabolcs
    Description:
        A header.jsp számára készített egyedi css.
*/

* {
    margin: 0;
    padding: 0;
}

html {
    background: url(../images/noise.png) repeat scroll #efefef;    
    font-family: Verdana;
    font-size: 11px;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../../fonts/BebasNeue.otf");
}

#container #infoBar {
    width: 100%;
}

#container #infoBar tr td:last-child {
    text-align: right;
}

#header {        
    background: rgb(122,188,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    background-color: #E0E0E0;
    border-bottom: 3px solid #7abcff;       
    font-family: BebasNeue;    
    height: 60px;
    margin: 0 auto;
    text-shadow: -1px -1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
    width: 970px;
}

#header .content {    
    margin: auto;    
}

#header .content ul {
    font-size: 22px; 
    font-weight: normal;
    list-style: none;   
}

#header .content ul li {
    border-right: 1px solid #6db3f2;
    float: left;
}

#header .content ul li a {
    color: white;
    line-height: 60px;
    padding: 20px;
    text-decoration: none;
}

#subHeader { 
    background: #4096ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #4096ee 0%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4096ee 0%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4096ee 0%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4096ee 0%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4096ee 0%,#4096ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    border-bottom: 2px solid #525252;        
    line-height: 30px;
    height: 30px;
    padding: 0 5px;
    margin: 0 auto;
    width: 960px;
}

#subHeader ul {
    list-style: none;    
}

#subHeader ul li {
    border-right: 1px solid #6db3f2;
    float: left;
}

#subHeader ul li a {
    color: black;    
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
}

#secondSubHeader {
    background: #454545;
    padding: 5px;
    color: white;
    border-bottom: 2px solid #525252;
}

#secondSubHeader a {
    color: white;
}